body {
    background-color: #ffe6f2;
    color: #0A0F0D;
    font-family: 'Roboto Mono', 'Consolas', monospace, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

a{
    color: dodgerblue;
    text-decoration: none;
}


.shake {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 1s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    5% { transform: translate(-1px, -2px) rotate(-1deg); }
    10% { transform: translate(-3px, 0px) rotate(1deg); }
    15% { transform: translate(3px, 2px) rotate(0deg); }
    20% { transform: translate(1px, -1px) rotate(1deg); }
    25% { transform: translate(-1px, 2px) rotate(-1deg); }
    30% { transform: translate(-3px, 1px) rotate(0deg); }
    35% { transform: translate(3px, 1px) rotate(-1deg); }
    40% { transform: translate(-1px, -1px) rotate(1deg); }
    45% { transform: translate(1px, 2px) rotate(0deg); }
    50% { transform: translate(1px, -2px) rotate(-1deg); }
}